
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

/* Header */
header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00c3ff;
}

/* Main Content */
.container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

h1 {
    text-align: center;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #0072ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #222;
    color: white;
}

/* Progress Bar */
.progress {
    background: #ddd;
    border-radius: 20px;
    height: 18px;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #00c3ff, #0072ff);
    color: white;
    font-size: 12px;
    text-align: right;
    padding-right: 8px;
    border-radius: 20px;
}

/* Form */
form {
    background: white;
    padding: 30px;
    max-width: 500px;
    margin: auto;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
.profile-img{
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}